/*light blue */
/* body {background-color: rgb(212, 244, 255);}*/
body {background-color: rgb(255, 250, 212);} 

.flex-container {
    display: flex;
    justify-content: space-around;
}

.float-image {
  float: right;
  width: 25vw;
  min-width: 130px;
  margin: 0 0 20px 20px;
  border-radius: 8px;
}