/*light blue */
/* body {background-color: rgb(212, 244, 255);}*/
body {background-color: rgb(255, 250, 212);} 

.flex-container {
    display: flex;
    justify-content: space-around;
}

.float-image {
  float: right;
  width: 25vw;
  min-width: 130px;
  margin: -20px 0 20px 40px;
  text-align: center;
  font-size: 0.9em;
  border-radius: 2px;
}

.float-image img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  display: block; /* prevent extra space below image */
}

.float-image figcaption {
  margin-top: 5px;
}

.links {
    padding-right: 2em;
}

.content_wrap {
    margin-right: 50%;
}