/*light blue */
/* body {background-color: rgb(212, 244, 255);}*/
body {background-color: rgb(255, 250, 212);} 

.flex-container {
    display: flex;
    justify-content: space-around;
}

.float-image {
  float: right;
  width: 25vw;
  min-width: 130px;
  margin: -20px 0 20px 20px;
  border-radius: 15px;
}

.float-image img {
  width: 100%; /* fills the 150px width */
  height: auto;
  border-radius: 20px;
  display: block; /* prevent extra space below image */
}

.float-image figcaption {
  margin-top: 5px;
}

.preformatted {
    white-space: pre;
}

.links {
    padding-right: 2em;
}